.container_header {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}
.header {
  background-image: url(Rectangle.png);
  background-size: cover;
  background-position: center center;
  position: fixed;
  width: 100%;
  display: block;
  
}
.header_img {
  position: relative;
  top: 15px;
  display: flex;
  justify-content: center;

}
.header_words {
  text-align: right;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #fff;
  position: relative;
  top: -20px;
  
}

.container_underheader {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
  
}
.underheader {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url(image.png);
  background-size: cover;
  background-position: center center;
}
.tex_underheader {
  font-weight: 500;
  text-align: center;
  font-size: 72px ;
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #ffffff;
  line-height: 84px
  
}
.The_Problem {
  padding-top: 48px;
  padding-bottom: 92px;
}
.container_The_problem {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
  

}
.container_The_problem h1{
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  color: #007765;
  font-size: 64px;
}
.The_Problem_text {
  font-size: 32px ;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 37px;
  text-align: center;
}

.container_The_problem p {
  text-align: left;
}

.container_hero {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.hero {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url(hero.png);
  background-size: cover;
  background-position: center center;
}

.hero__message {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
} 
.conteiner_under_hero {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
  
}
.under_hero {
  background-color:#ffffff ;
  background-position: center center;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 92px;
}
.conteiner_under_hero img {
  float: left;
  margin-right: 30px;
}
.conteiner_under_hero p {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 37px;
  font-size: 32px;
  text-align: left;
}
.conteiner_under_hero h1 {
  text-align: center;
  color: #007765;
  font-size: 64px;
  line-height: 75px;
}
.The_team {
  padding-top: 48px;
  padding-bottom: 121px;
  background-color: #eeeeee ;
  background-size: cover;
  background-position: center center;
}
.conteiner_The_team {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
 

}
#the_team_txt {
  text-align: center;
  font-size: 64px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #007765;

}
#team_photos {
  display: flex;
  justify-content: center;
 
}
#team_photos2 {
  display: flex;
  justify-content: center;
}

.podval {
  padding-top: 48px;
  padding-bottom: 64px;
  background-color:#333333;
  background-size: cover;
  background-position: center center;

}
.container_podval {
  box-sizing: border-box;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;

}
.podval_message {

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height:21px;
  text-align: center;
  color: #ffffff;
}